<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    
</head>
<body>

    <div class="app">
        
        <footer>
            <h1>the nay footer</h1>
        </footer>
    </div>

</body>
</html>